*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

display:flex;
background:#f7f1eb;

}

.sidebar{

width:260px;
background:#5C3A21;
color:white;
min-height:100vh;
padding:30px;

}

.sidebar h2{

margin-bottom:40px;

}

.sidebar ul{

list-style:none;

}

.sidebar li{

padding:14px 0;
cursor:pointer;

}

.main{

flex:1;
padding:40px;

}

table{

width:100%;
background:white;
border-radius:12px;
overflow:hidden;
border-collapse:collapse;

}

th{

background:#5C3A21;
color:white;
padding:15px;

}

td{

padding:15px;
border-bottom:1px solid #eee;

}
